.form1 {
	width: 70vw !important;
	height: 	90vh !important;
	background: rgba(71, 64, 64, 0.61) !important;
	margin: 0 auto;
	color: #bd2130;
	padding: 5rem;

	
}
.bread {
	margin-right: 216px !important;
    margin-left: 216px !important;
}
#btnSlideTog{
	border-radius: 10px;
}