body{
background-image:url(../images/land.jpg) ;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	border-bottom: -50px;
	color: white;
}
.logo{
	width: 30px;
	height: 30px;
}
.navbar{
	margin-top:-50px;
}
.jumbotron{
	background-color: black;
	opacity: 0.7;
	color: green;
	text-align: center;
}

}
footer{
	margin-bottom: -100px;
}
#animation{
	background: red;
	width: 50px;
	height: 400px;
	margin-top: -800px;
}
